<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> html grunnur - Template </title>
	<link rel="stylesheet" href=/static/stilsida.css">
</head>
<body>
	<header>
		<h3> Þversumma kennitölu</h3>
	</header>
	<ol>
		<li> Jón: <a href="/sida/2609899548">2609899548</a></li>
		<li> Siggi: <a href="/sida/1203999403">1203999403</a></li>
		<li> Villusíða --- <a href="/þettaervilla"> villusíða</a></li>
	</ol>
</body>
</html>